html {
    height: 100%;
    background-color: white;
    font-family: courier;
}
.header{
    font-family: 'Arapey';font-size: 22px;
}

body {
    height: 100%;
    background-color: white;
    word-wrap:break-word;
}
.smallpic{
     height:30%;
     width:30%;
   word-wrap:break-word;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    text-align:center;
}
.largepic{
   text-align:center;
   border:solid black 10px;
   width:95%;
   padding:20px;
 
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display:flex;
}

.navbar{
    display:flex;
    justify-content:Space-around;
    text-align:center;
      color:black;
 
    
}
.gallery{
    display:flex;
   width:100px;
   flex-flow: row wrap;
}
.thumbnail{
    text-align:center;
     margin: 5px;
    width: 100px;
}
.footer{
    display: flex;
    justify-content:space-between;
    width:100%;
}