html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #50c878;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display:flex;
}
.navbar{
    display:flex;
    justify-content:Space-around;
}
.footer{
    display: flex;
    justify-content:space-between;
    width:100%;
}